@charset "UTF-8";



@media screen and (min-width: 700px) {
    
    span#menuicon{

        display:none;
    }
    menu{

        display: block;
    }
    menu >ul> li{

        display: inline-block;
    }
    main{
        
        width: 690px;
    }

}